---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import { SITE } from "../consts";
import "../styles/global.css";

interface Props {
  title: string;
  description?: string;
  noindex?: boolean;
  article?: {
    pubDate: Date;
    updatedDate?: Date | undefined;
    tags: readonly string[];
  };
}

const { title, description, article, noindex } = Astro.props;
---

<!doctype html>
<html lang={SITE.lang}>
  <head>
    <BaseHead title={title} description={description} article={article} noindex={noindex} />
  </head>
  <body>
    <Header />
    <main class="container">
      <slot />
    </main>
    <Footer />
  </body>
</html>
